<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">

    <insert id="insertUser">
        insert into t_user values(null,'admin2','123456',24,'女');
    </insert>


    <!--查询标签需设置resultType或resultMap-->
    <!--resultType:设置默认的映射关系-->
    <!--resultMap:设置自定义映射关系-->
    <select id="getUserById" resultType="org.example.User">
        select * from t_user where id = 2
    </select>

    <select id="getAllUsers" resultType="org.example.User">
        select * from t_user
    </select>
</mapper>